body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.center {
	text-align: center;
}

input[type="number"] {
	padding: 0px 6px;
	height: 26px;
}

table.minesweep {
	border: 0;
	padding: 0; 
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	text-align:center;
}

td div {
	text-align: center;
}

td div.border { 
	height: 5px;
	width: 5px;
}

td div.value { 
	font-size: 12px;
	font-weight: bold;
	border: 1px solid white;
	height: 14px;
	width: 14px;
	background-color: silver;
}

div.disabledField {
	background: #eeeeee;
	border: 1px solid silver;
	padding: 2px 5px;
}