body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: silver;
}

div.container {
	border: 2px solid navy;
	padding: 20px;
	background-color: white;
}

#divControls {
	padding-top: 10px;
	border: 1px solid navy;
}

#divMinesweepBoard {
	/*border: 1px solid navy;*/
}

.center {
	text-align: center;
}

input[type="number"] {
	padding: 0px 6px;
	height: 26px;
}

table.minesweep {
	border: none;
	padding: 0; 
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	text-align:center;
}

td div {
	text-align: center;
}

td div.border { 
	height: 5px;
	width: 5px;
}

td div.value { 
	font-size: 12px;
	font-weight: bold;
	border: 1px solid white;
	height: 14px;
	width: 14px;
	background-color: silver;
}

div.blank {
	background-image: url('../img/blank.gif');
	width: 16px;
	height: 16px;
}

div.blank:hover {
	background-image: url('../img/GreenTile.gif');
	width: 16px;
	height: 16px;
}

div.mine {
	background-image: url('../img/bombdeath.gif');
	width: 16px;
	height: 16px;
}

div.flagged {
	background-image: url('../img/bombflagged.gif');
	width: 16px;
	height: 16px;
}