label { 
	display: inline-block;  
	width: 150px;
	text-align: right; 
}

table.minesweep {
	border: 0;
	padding: 0; 
	border-spacing: 0;
	border-collapse: collapse;
}
td div {
	text-align: center;
}
td div.border {
	/*background-color: black;*/
	height: 5px;
	width: 5px;
}
td div.value { 
	font-size: 12px;
	font-weight: bold;
	border: 1px solid white;
	height: 14px;
	width: 14px;
	background-color: silver;
}